# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
.npm
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
